<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
  </head>
  <body>
    hello world
    <script>
      const variables = { id: 1 };

      const query = {
        type: "getUser",
        return: {
          id: "i",
          email: "s",
          username: "s",
          first_name: "s",
          last_name: "s",
          age: "i",
          created_at: "s",
          address: {
            id: "i",
            country: "s",
            state: "s",
            lga: "s",
            address: "s",
            geodata: {
              id: "i",
              lat: "s",
              lng: "s",
              bio: {
                id: "i",
                bio: "s",
                likes: "s",
                timeline: {
                  id: "i",
                  header: "s",
                  detail: "s",
                },
              },
            },
          },
        },
      };

      fetch("http://localhost/simple-php-framework/test", {
        method: "post",
        headers: {
          "content-Type": "application/json",
        },
        body: JSON.stringify({ query, variables }),
      })
        .then((d) => {
          return d.json();
        })
        .then((v) => console.log(v))
        .catch((e) => console.log(e.message));
    </script>
  </body>
</html>
